:root {
  --bleu-clair: #343f63;
  --orange: #ff5500;
  --font-heading: "Bruno Ace SC", sans-serif;
  --font-text: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h2 {
  font-size: 2.9rem;
  color: white;
  margin-bottom: 1.5rem;
}

p {
  font-family: var(--font-text);
}

body {
  background: linear-gradient(to right, #0a0f2c, #1e2a5a, #0a0f2c);
}

/* --- NAVIGATION --- */

.fav-nav {
  height: 70px;
  width: 120px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar {
  display: flex;
  background-color: var(--bleu-clair);
  padding: 1rem 1rem;
  align-items: center;
  justify-content: space-between;
  gap: 5vw;
}

/* --- GAMECARDS --- */

.games-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.suggested-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  max-width: 80vw;
}

.card-body {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: var(--bleu-clair);
  color: white;
  display: flex;
  flex-direction: column;
  border: solid 1px white;
}

.card-img {
  height: 75%;
  width: 100%;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25%;
  padding: 10px;
}

.card-info h3 {
  font-size: 1.1rem;
  font-weight: 700;
}

.card-info h4 {
  font-size: 0.8rem;
  color: var(--orange);
  font-family: var(--font-text);
}

.card-link {
  text-decoration: none;
}

.platforms {
  display: flex;
  height: 20px;
  gap: 8px;
  font-size: 0.75rem;
}

.rate {
  color: var(--orange);
  font-family: var(--font-heading);
  font-size: 0.8rem;
}

.platforms-rate {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* --- HEADER HOMEPAGE --- */

header {
  background-image: url("assets/images/image-header-v2.png");
  height: 60vh;
  background-color: #2b2a34;
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.header-text {
  text-align: center;
  max-width: 40ch;
  line-height: 1.5;
}

.header-text h1 {
  color: var(--orange);
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 800;
}

.header-img {
  width: 40vh;
}

.text-orange {
  color: var(--orange);
  font-weight: 700;
}

/* --- SEARCHBAR --- */

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 2.5rem;
  gap: 10px;
  background-color: var(--orange);
  border-radius: 30px;
  padding: 0 20px;
}

.games-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 3rem;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.searchbar input {
  background-color: transparent;
  border: none;
  outline: 0;
}

.searchbar ::placeholder {
  color: rgb(248, 229, 204);
  font-size: 1.1rem;
}

.loupe {
  height: 2rem;
  opacity: 0.8;
}

.Search {
  display: flex;
  justify-content: center;
}

/* --- TOPGAMES --- */

.topgames {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card-body:hover {
  transform: scale(1.2);
  box-shadow: 0 10px 25px rgb(0, 0, 0, 0, 12);
}

.topgames-container h2 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

/* ------------------- Footer ------------*/

.logo {
  height: 60px;
}

footer {
  background-color: var(--bleu-clair);
  display: flex;
  align-items: center;
  color: white;
  padding: 1rem;
  justify-content: space-between;
  margin-top: 3rem;
}

footer a {
  text-decoration: none;
  color: white;
}

.mention-link {
  font-family: var(--font-text);
}

/*  ----------- Page 404 -------------- */

/* --- PAGE 404 --- */
.Page404 img {
  width: 95vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.Page404 {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: 50vh;
}

.Error-txt h1 {
  margin-top: 10vh;
  color: #ff5500;
  text-align: center;
}

.Error-txt p {
  color: white;
}
.back-home-link {
  text-decoration: none;
  color: white;
  background-color: var(--orange);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 2rem;
}

/* --------- section categorie de jeux -------- */
.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  gap: 1em;
  padding: 1em;
  scroll-snap-type: x mandatory;
}

.category-section h2 {
  color: white;
  text-align: center;
  color: var(--orange);
  font-size: 2rem;
}

.genre-item {
  flex: 0 0 auto;
  width: 12em;
  scroll-snap-align: start;
  border-radius: 1em;
  overflow: hidden;
  background: var(--bleu-clair);
  color: var(--orange);
  margin-bottom: 2.5rem;
}

.genre-image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.genre-image {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.genre-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-grow: 1;
}

.genre-name {
  padding: 1em;
  text-align: center;
  font-weight: bold;
  font-family: var(--font-heading);
  font-size: 1.3rem;
  color: white;
  width: 100%;
  text-decoration: none;
}
.genre-link {
  text-decoration: none;
}
/*--------------  section page Mention Legal -------------*/
.Mention-legales {
  color: white;
  padding: 5vw; /* padding fluide en fonction de la largeur de l’écran */
  max-width: 100%;
  line-height: 1.5;
}

.mention-legales-page {
  min-height: 100vh;
}

.Mention-legales h3 {
  margin-top: 2rem;
  color: var(--orange);
}

.Mention-legales h1 {
  font-size: 1.5rem;
}

.Mention-legales p {
  max-width: 90ch;
}

/* --- PAGE DETAILS JEU --- */

.detail-header {
  position: relative;
  height: 30vh;
  width: 100%;
  overflow: hidden;
  opacity: 0.15;
}

.detail-header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -20vh;
  z-index: 2;
  position: relative;
}

.detail-page-main-image {
  display: flex;
  justify-content: center;
  max-height: 70vh;
}

.detail-page-main-image img {
  width: 80vw;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.detail-page-scroll-gallery {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  padding: 10px 0;
  margin-top: 10px;
  gap: 10px;
  width: 80vw;
  scrollbar-width: none;
}

.detail-page-scroll-gallery img {
  flex: 0 0 auto;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.7;
  transition: transform 0.3s, opacity 0.3s, border 0.3s;
}

.detail-page-scroll-gallery img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.active-thumbnail {
  border: 3px solid orange;
  opacity: 1;
}

.detail-game-info {
  max-width: 80vw;
  margin: 0 auto;
  color: white;
  line-height: 1.5;
}

.detail-game-info h2 {
  font-size: 1.5rem;
}

.detail-game-info h3 {
  font-size: 1.8rem;
}

.detail-game-info h4 {
  color: var(--orange);
  margin-bottom: 2rem;
}

.detail-page p {
  font-size: 0.95rem;
}

.detail-platform {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  gap: 20px;
}

.detail-platform img {
  height: 8vh;
  margin: 0 auto;
}

.detail-esrb-rate {
  display: flex;
  justify-content: space-between;
}

.esrb-orange {
  color: var(--orange);
}

.game-detail {
  margin-bottom: 4rem;
}

.detail-rate p {
  font-size: 1.2rem;
  font-family: var(--font-heading);
  color: var(--orange);
}

/* --- SECTION SUGGESTIONS --- */

.suggestion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestion-container h2 {
  text-align: center;
}

.suggested-cards-scrollToTop {
  all: unset;
}

/* --- GALLERIE NOUVEAUTES--- */

/* SECTION GÉNÉRALE */

.news-section {
  margin: 6rem 0 4rem 0;
}

.news-section h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.news-section h3 {
  color: var(--orange);
  text-align: center;
  margin-bottom: 1rem;
}

/* CONTENEUR PRINCIPAL DE LA GALERIE */
.news-galery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* IMAGE PRINCIPALE */
.main-image-news-galery {
  height: 40vh;
  width: 100%;
  overflow: hidden;
}

.main-image-news-galery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MINIATURES (THUMBNAILS) */
.thumbnails-news-galery {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  overflow-x: auto;
  padding: 10px;
}

.thumbnails-news-galery img {
  height: 70px;
  width: auto;
  border-radius: 0.25rem;
  cursor: pointer;
  opacity: 0.7;
  transition: transform 0.2s, opacity 0.2s;
  flex-shrink: 0;
}

.thumbnails-news-galery img:hover {
  transform: scale(1.05);
  opacity: 1;
}

.news-active-thumbnail {
  border: 2px solid #ff9800;
  opacity: 1;
}

/* SECTION PUB */

.pub {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 10vh 0;
  height: 40vh;
  clip-path: polygon(0 3%, 30% 10%, 100% 0, 100% 100%, 70% 95%, 0 100%);
}

.pub-text {
  padding: 2vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.pub-button {
  all: unset;
  font-family: var(--font-text);
  background-color: var(--orange);
  padding: 10px 20px;
  border-radius: 999px;
  cursor: pointer;
  width: fit-content;
}

.pub-button:hover {
  background-color: var(--bleu-clair);
  transition: 0.2s;
}

.pub h3 {
  color: var(--orange);
}
/*---------------------- Details Genre---------------------------------*/

.gamesDetails img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}
.Detail-img {
  height: 30vh;
}
.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
}
.gamesDetails h1 {
  text-align: center;
  color: var(--orange);
  font-size: 3rem;
}
.gamesDetails p {
  color: white;
  font-size: 1rem;
  line-height: 1.2;

  width: auto;
  text-align: left;
  font-style: italic;
}

/*------------------------- Media ----------------------*/

/* ------ SCROLL TO TOP --------- */

.scroll-button {
  width: 35px;
  height: 35px;
  background-color: var(--orange);
  color: white;
  position: fixed;
  bottom: 150px;
  right: 25px;
  border: none;
  border-radius: 50%;
  opacity: 0.7;
  font-weight: 1000;
}

@media screen and (min-width: 768px) {
  header {
    height: 80vh;
    flex-direction: row;
    justify-content: space-around;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  .header-text p {
    font-size: 1.2rem;
  }

  .header-img {
    width: 80vh;
  }

  .detail-header {
    height: 60vh;
  }

  .gallery {
    margin-top: -40vh;
    margin-bottom: 15vh;
  }

  .main-image-news-galery {
    height: 60vh;
    width: 60vw;
    border-radius: 1rem;
  }

  .news-galery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .thumbnails-news-galery {
    width: 60vw;
  }

  .back-home-link {
    font-size: 2.2vw;
    /* taille relative à la largeur de l’écran */
    padding: 2vw 3vw;
    /* padding fluide */
    display: flex;
  }

  .category-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .horizontal-scroll {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 75vw;
  }

  .genre-item {
    width: 250px;
    opacity: 0.8;
  }

  .genre-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0, 12);
    opacity: 1;
  }

  .genre-name {
    font-size: 1.2rem;
  }

  .navbar {
    justify-content: space-around;
  }

  .searchbar {
    width: 20vw;
  }

  .pub {
    height: 90vh;
    clip-path: polygon(0% 10%, 100% 0, 100% 100%, 0 90%);
    margin: 15vh 0;
  }
}
